extends ../main.layout.pug

block variables
  - var title = 'БЛОГ';
  - var subtitle = 'Статьи, которые я написал';

block content

block content
  section.blog.section
    .triangle__container
      .triangle
        svg(viewBox="0 0 1000 185" preserveAspectRatio="none").triangle__texture.triangle__texture--fill-white
          polygon(points='0,0 0,185 1000,185 1000,175')
      .triangle
        svg(viewBox="0 0 1000 185" preserveAspectRatio="none").triangle__texture.triangle__texture--fill-beige
          polygon(points='0,185 1000,185 1000,0 0,175')
    sidebar.blog__menu
      nav.nav
        -
          var nav = [['Самое важное в SASS', '#id'],
          ['Приёмы в вёрстке, без которых не обходится ни один сайт', '#id'],
          ['Самый необходимый набор Gulp плагинов', '#id'],
          ['Почему я выбрал Pug', '#id']
          ]
        ul.nav__list
          each item in nav
            li.nav__item
              a(href=`${item[1]}`).nav__link #{item[0]}
    .blog__content
      -
        var blogContent = [
          {
            title: 'Самое важное в SASS',
            date: '29 июня 2021',
            text1: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem exercitationem porro voluptatum similique saepe consequatur soluta id hic! Eum deleniti quam veniam quis delectus? Modi repudiandae possimus, eum sapiente aperiam eius dolorem consequatur adipisci perspiciatis, non ipsam qui iusto enim.',
            text2: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem exercitationem porro voluptatum similique saepe consequatur soluta id hic! Eum deleniti quam veniam quis delectus? Modi repudiandae possimus, eum sapiente aperiam eius dolorem consequatur adipisci perspiciatis, non ipsam qui iusto enim.',
            code: '1825071298712987'
          },
          {
            title: 'Приёмы в вёрстке, без которых не обходится ни один сайт',
            date: '30 июня 2021',
            text1: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.Quidem exercitationem porro voluptatum similique saepe consequatur soluta id hic! Eum deleniti quam veniam quis delectus? Modi repudiandae possimus, eum sapiente aperiam eius dolorem consequatur adipisci perspiciatis, non ipsam qui iusto enim.',
            text2: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.Quidem exercitationem porro voluptatum similique saepe consequatur soluta id hic! Eum deleniti quam veniam quis delectus? Modi repudiandae possimus, eum sapiente aperiam eius dolorem consequatur adipisci perspiciatis, non ipsam qui iusto enim.',
            code: ''
          },
          {
            title: 'Самый необходимый набор Gulp плагинов',
            date: '1 июля 2021',
            text1: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.Quidem exercitationem porro voluptatum similique saepe consequatur soluta id hic! Eum deleniti quam veniam quis delectus? Modi repudiandae possimus, eum sapiente aperiam eius dolorem consequatur adipisci perspiciatis, non ipsam qui iusto enim.',
            text2: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.Quidem exercitationem porro voluptatum similique saepe consequatur soluta id hic! Eum deleniti quam veniam quis delectus? Modi repudiandae possimus, eum sapiente aperiam eius dolorem consequatur adipisci perspiciatis, non ipsam qui iusto enim.',
            code: ''
          },
          {
            title: 'Почему я выбрал Pug',
            date: '3 июля 2021',
            text1: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.Quidem exercitationem porro voluptatum similique saepe consequatur soluta id hic! Eum deleniti quam veniam quis delectus? Modi repudiandae possimus, eum sapiente aperiam eius dolorem consequatur adipisci perspiciatis, non ipsam qui iusto enim.',
            text2: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.Quidem exercitationem porro voluptatum similique saepe consequatur soluta id hic! Eum deleniti quam veniam quis delectus? Modi repudiandae possimus, eum sapiente aperiam eius dolorem consequatur adipisci perspiciatis, non ipsam qui iusto enim.',
            code: ''
          }
        ]
      ul.blog__list
        each tag in blogContent
          li.blog__item
            h1.blog__title= tag.title
            time.blog__date= tag.date
            .blog__text
              p= tag.text1
              p= tag.text2
              code.blog__code= tag.code
